*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* background-color: #bbb;*/
    font-family: "Montserrat", sans-serif;
}

body{
    height: 100vh;
    border: black solid 1px;
    justify-content: center;
}

.game-area{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 100px;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.square {
    width: 120px;
    height: 120px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: #FFFFE0;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    font-size: 18px;
}

#restartButton:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.marker-selection{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    gap: 200px;
    
}

.marker-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


button{
    height: 20px;
    width: 30px;

}

button:hover{
    color: rgb(251, 161, 51);
    border: rgb(251, 161, 51);
}

